@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* KLEUREN */
:root {
    --green: #06f9b7;
    --grey: #f8fafa;
    --black: #131c1b;
    --white: white;
    --green-trans:#06f9b860;
    --black-trans: #131c1b54;
}
h2 {

    font-size: 34px;
    font-weight: 600;

}

@media (min-width: 768px) {

    h2 {

        font-size: 50px;
        font-weight: 600;  
    }
}


@media (min-width: 992px) {

    h2 {

        font-size: 64px;
        font-weight: 600;  
    }
}

body {
    background-color: #4f06f9;
}

.btn {

    position: relative;
    padding: 10px 50px 10px 25px; 
    border-radius: 5px;
    background: none;
    font-weight: 600;
  
}
.btn-primary {

    position: relative;
    padding: 10px 50px 10px 25px; 
    border-radius: 5px;
    border: 2px solid var(--white);
    background: none;
    font-weight: 600;
    color: var(--white);
}

.btn-primary:before {
    
    content: '\f111';
    font-family: FontAwesome;
    margin-right: 10px;
    color: var(--green);
    font-size: 12px;
}

.btn-primary:after {
    
    position: absolute;
    right: -40px;
    top: 20px;

    content:" ";
    width: 60px;
    height: 2px;
    margin: 0 10px;
    vertical-align: super;
    background-color: var(--green);
    display:inline-block;
}

.btn-primary:hover {

    border: 2px solid var(--green);
    color: var(--green)

}

.btn-primary:hover:before{
    
    content: '\f111';
    font-family: FontAwesome;
    margin-right: 10px;
    color: var(--white);
    font-size: 12px;
}





/* ALGEMENE KLASSEN */


/* eigen framework */

/* SPECIFIEKE KLASSEN */

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);